.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


td, th {
  border: 1px solid black;
  padding: 10px
}

table{
  border-collapse: collapse;
}


.body-column{
  width: 150px

}

#app-title {
  padding: 10px;
  background: red;
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;
}

h1 {
  margin: 0;
  padding: 0;
}

#app-title form {
  display: flex;
  gap: 10px;
  background: none;
}

table {
  background: lightgray;
}